@import "../variables";

.header {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  h1{
    font-size: 45px;
    font-family: "URW Gothic";
    color: wheat;
  }
}