@import "../variables";
@import url('http://fonts.cdnfonts.com/css/valorant');

.container {
  background: url("../../assets/logo.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
  .middle {
    display: flex;
    justify-content: flex-end;
    .description {
      h1{
        color: $red-high;
        font-family: 'VALORANT', sans-serif;
      }
      margin-right: 100px;
      font-size: 25px;
      font-family: "URW Gothic";
      width: 400px;
      color: white;
      float:right;
    }
  }
  .logo {
    display: flex;
    justify-content: right;
    margin-right: 100px;
    img {
      width: 300px;
    }
  }
  #iconAgent {
    position: absolute;
    bottom: 0;
    width: 500px;
  }
}