.home {
  .agents-container {
    display: flex;
    padding: 20px;
    .agents {
      display: flex;
      flex-wrap: wrap;
      gap: 50px;
      width: 100%;
      justify-content: center;
    }
  }
}